{% extends '../base.html' %}

{% load static %}

{% block add_css %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'calendar/css/style.css' %}">
{% endblock %}

{% block title %} Calendar {% endblock %}

{% load widget_tweaks %}

{% block content_from_sidebar %}
<div class="calendar-page container">
    <div class="prelude container row">
        <div class="weather col">
            <div class="degrees">{{ weather.degrees }}</div>
            <div class="other-data">
                <div class="wind-speed">{{ weather.wind_speed }}m/s</div>
                <div class="humidity">{{ weather.humidity }}%</div>
            </div>
        </div>

        <div class="col">
            <div class="day-task">
                <div class="greeting">Today is {{ calendar.date }}:</div>
                <div class="day-tasks">
                    {% for task in tasks %}
                        <div class="time">{{ task.time }} - </div>
                        <div class="task">{{ task.name }}</div>
                        {% if task.is_complete %}
                            <i class="is-complete bi bi-check" style="color: #7FFF00"></i>
                        {% else %}
                            <i class="is-complete bi bi-x" style="color: #B22222"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="settings row">
                <div class="my-tasks col">my tasks</div>
                <div class="holiday col">holiday</div>
            </div>
        </div>
    </div>

    <div class="calendar container">

    </div>
</div>
{% endblock %}
