.settings-border::before {
    content: "settings";
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 30%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
}

.color-complete {
    color: #7FFF00
}

.color-not-complete {
    color: #B22222
}